<%= @comment.errors.full_messages.join(", ") %>
<br>
<%= form_for [@discussion, @comment], remote: true do |f| %>
  <div>
    <%= f.label :body  %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>

<% end %>
