
<% @project.tasks.where("status = true").each do |task| %>
<p><%= task.title %> <%= task.due_date.strftime("%Y-%b-%d") %>
  <% if task.status == false %>
    <%= button_to "Press to Complete", project_task_path(@project, task, {task: { status: true }}), method: :patch %></p>
  <% else %>
     <%= button_to "Press to Incomplete", project_task_path(@project, task, {task: { status: false }}), method: :patch %></p>
  <% end %>
    <%= button_to "Delete", project_task_path(@project, task), method: :delete %>
  <% end %>
