<%= form_for [@project, @discussion] do |f|  %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<h2>Discussions</h2>
<% @project.discussions.each do |discussion| %>
<p>Title: <%= discussion.title %></p>
<p>Body: <%= discussion.body %></p>
<%= button_to "Edit", edit_project_discussion_path(@project, discussion), method: :get %>
<%= button_to "Delete", project_discussion_path(@project, discussion), method: :delete%>
<%= render partial: "comment_form", locals: { discussion: discussion } %>
<hr>
<% end %>
