<h1>Proejct: <%= @project.title %></h1>
<p>Description: <%= @project.description %></p>
<p>Due date: <%= @project.due_date %></p>
<p>Created by: <%= @project.user.full_name %></p>
  <%= link_to "Edit", edit_project_path %>
  <%= link_to "Delete", project_path(@project),
                        method: :delete,
                        data: { confirm: "You Sure?" } %>
  <%= link_to "Add", new_project_path %>
<br>
<% favor = @project.favor_for(current_user) %>
<% created_by = @project.created_by?(current_user) %>
<% if favor %>
<p><%= link_to "Remove Favorite", project_favorite_path(@project, favor), method: :delete  %></p>
<% elsif !created_by %>
<p><%= link_to "Favorite", project_favorites_path(@project), method: :post %></p>
<% end %>
(<%= @project.favorites.count %>)

<br>
<hr>
  <h2>Add Discussions</h2>
  <%= render "discussion_form" %>
<br>
<hr>
<h3>Add Tasks</h3>
<div id="task-form">
  <%= render "/tasks/task_form" %>
</div>
<h3>Incomplete</h3>
<div class="incomplete-tasks">
<% @project.tasks.where("status = false").each do |task| %>
  <%= render "/tasks/task_incomplete", task: task %>
<% end %>
</div>

<h3>complete</h3>
<div class="complete-tasks">
<% @project.tasks.where("status = true").each do |task| %>
  <%= render "/tasks/task_complete", task: task %>
<% end %>
</div>
